@model IEnumerable<SymphonyWebApp.Data.Entities.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Article list </h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="col-md-6 col-sm-12 mb-4">
    <form asp-action="Index" method="get">
        <div class="row">
            <div class="col-md-8">
                <input method="get" type="text" name="keyword" class="form-control" value="@ViewBag.Keyword" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-success" type="submit">Find</button>
                <button class="btn btn-dark" type="button" onclick="window.location.href='Posts/Index'">Reset</button>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int stt = 0;
            if (Model.Count() < 0)
            {
                <tr>
                    <td colspan="11">
                        No data
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @if (item != null) { stt += 1; }
                            @stt
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <img src="~/images/post/@item.UrlImage" alt="Alternate Text" style="max-height:100px;" /><br />
                        </td>
                        <td>
                            @Html.Raw(item.content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td style="min-width:240px;">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>