@model IEnumerable<SymphonyWebApp.Data.Entities.Post>

@{
    Layout = "_PageLayout";
}
@{
    IEnumerable<Teacher> Teachers = ViewData["Teacher"] as IEnumerable<Teacher>;
}

<section class="hero-wrap hero-wrap-2" style="        background-image: url('/images/symphony.png');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-action="Index" asp-controller="Home">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">About Us</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about img">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 about-intro">

                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 d-flex">
                            <div class="d-flex about-wrap">
                                <div class="img d-flex align-items-center justify-content-center" style="background-image:url(/images/post/@item.UrlImage);">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-md-5 py-5">
                            <div class="row justify-content-start pb-3">
                                <div class="col-md-12 heading-section ftco-animate">
                                    <span class="subheading">Welcome to SymphonyWebApp</span>
                                    <h2 class="mb-4">@item.Title</h2>
                                    <p>
                                        @item.content
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="mb-4 text-center font-weight-bolder">
            With The Team Experienced Instructors
        </h2>
        <div class="row">

            @foreach (var item in Teachers)
            {
                <div class="col-md-6 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="staff">
                        <div class="img">
                            <img class="img" src="~/images/post/@item.UrlImage" alt="Alternate Text" />
                            <ul class="ftco-social">
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                        <div class="text">
                            <h3>@item.FirstName @item.LastName </h3>
                            <span class="position">@item.Major</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>