@model IEnumerable<SymphonyWebApp.Data.Entities.Course>
@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Crouse";
}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-action="Index" asp-controller="Home"><span>Symphony</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a asp-area="" asp-action="Index" asp-controller="Home" class="nav-link">Home</a></li>
                <li class="nav-item"><a asp-area="" asp-action="About" asp-controller="Home" class="nav-link">About Us</a></li>
                <li class="nav-item active"><a asp-area="" asp-action="Crouse" asp-controller="Home" class="nav-link">Course</a></li>
                <li class="nav-item"><a asp-area="" asp-action="FAQ" asp-controller="Home" class="nav-link">FAQ's</a></li>
                <li class="nav-item"><a asp-area="" asp-action="Instructor" asp-controller="Home" class="nav-link">Instructor</a></li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Entrance Examination
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" asp-area="" asp-action="Entrance" asp-controller="Home">Examination</a>
                        <a class="dropdown-item " asp-area="" asp-action="FinalResult" asp-controller="Home">Final Result</a>
                    </div>
                </li>
                <li class="nav-item"><a asp-area="" asp-action="Contact" asp-controller="Home" class="nav-link">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-action="Index" asp-controller="Home">Home <i class="fa fa-chevron-right"></i></a></span> <span>Course Lists <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Course Lists</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar">
                <div class="sidebar-box bg-white ftco-animate">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="col-md-6 d-flex align-items-stretch ftco-animate">
                        <div class="container">
                            @foreach (var p in Model)
                             {
                                <a href="#" class="img">
                                    <h3 class="price">@p.CourseId</h3>
                                    <img src="/images/work-1.jpg" alt="Alternate Text" />
                                </a>
                                                <div class="text p-4">
                                                    <h3><a href="#"> @p.CourseName</a></h3>
                                                    <p class="advisor">Traningtime: @p.TrainingTime</p>
                                                    <ul class="d-flex justify-content-between">
                                                        <li><span class="flaticon-shower">Level: @p.level</span></li>
                                                        <li class="price">Fee: @p.Fee$</li>
                                                    </ul>
                                                </div>

                             }
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>