@model IEnumerable<SymphonyWebApp.Data.Entities.ResultTest>

@{
    Layout = "_PageLayout";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-action="Index" asp-controller="Home">Home <i class="fa fa-chevron-right"></i></a></span> <span>Final Result <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Final Result</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about img">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 about-intro">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="d-flex about-wrap">
                            <div class="img d-flex align-items-center justify-content-center" style="        background-image: url(/images/aptech-logo.jpg);">
                            </div>
                            <div class="img-2 d-flex align-items-center justify-content-center" style="        background-image: url(/images/IMG_1314.jpeg);">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-md-5 py-5">
                        <div class="row justify-content-start pb-3">
                            <div class="col-md-12 heading-section ftco-animate">
                                <h2 class="mb-4">Entrance Examination Result</h2>
                                <span>Enter rollnumber:</span><br />

                                <form asp-action="FinalResult" method="get">
                                    <div class="input-group mb-3">

                                        <div class="input-group-prepend">

                                            <button class="btn btn-outline-secondary" type="submit">Find</button>
                                        </div>
                                        <input name="keyword" formmethod="get" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        @{
            if (Model != null)
            {
                @if (Model.Count() > 0)
                {
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.RollNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gmail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dob)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ClassName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CourseName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Fee)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubFee)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastDayPayment)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.RollNumber
                                    </td>
                                    <td>
                                        @item.FirstName
                                    </td>
                                    <td>
                                        @item.LastName
                                    </td>
                                    <td>
                                        @item.Gmail
                                    </td>
                                    <td>
                                        @item.Dob.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @item.ClassName
                                    </td>
                                    <td>
                                        @item.CourseName
                                    </td>
                                    <td>
                                        @item.Fee
                                    </td>
                                    <td>
                                        @item.SubFee
                                    </td>
                                    <td>
                                        @item.LastDayPayment.ToString("dd/MM/yyyy")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {

                    <h4>
                        The rollnumber doesn't exits!
                    </h4>

                }
            }
        }
    </div>
</div>