@model IEnumerable<SymphonyWebApp.Data.Entities.Course>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Start Learning Today</span>
                <h2 class="mb-4"> Course Category</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var item in Model.Take(5))
            {
                <div class="col-md-3 col-lg-2">
                    <button onclick="window.location.href='Home/Course'" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(images/work-@(item.Id).jpg); background-size: cover">
                        <div class="text w-100 text-center">
                            <h3>@item.CourseId</h3>
                        </div>
                    </button>
                </div>
            }
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_4.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex align-items-center">
                    <div class="icon"><span class="flaticon-online"></span></div>
                    <div class="text">
                        <strong class="number" data-number="400">0</strong>
                        <span>Online Courses</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex align-items-center">
                    <div class="icon"><span class="flaticon-graduated"></span></div>
                    <div class="text">
                        <strong class="number" data-number="4500">0</strong>
                        <span>Students Enrolled</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex align-items-center">
                    <div class="icon"><span class="flaticon-instructor"></span></div>
                    <div class="text">
                        <strong class="number" data-number="1200">0</strong>
                        <span>Experts Instructors</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex align-items-center">
                    <div class="icon"><span class="flaticon-tools"></span></div>
                    <div class="text">
                        <strong class="number" data-number="300">0</strong>
                        <span>Hours Content</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Start Learning Today</span>
                <h2 class="mb-4">Pick Your Course</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var a in Model)
            {
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">

                        <a href="Home/CourseDetail/@a.Id" class="img" style="background-image: url(images/post/@a.UrlImage);">
                            <span class="price">@a.CourseName</span>
                        </a>
                        <div class="text p-4">
                            <p class="advisor">TrainingTime: @a.TrainingTime</p>
                            <ul class="d-flex justify-content-between">
                                <li><span class="flaticon-shower">Level: @a.level</span></li>
                                <li class="price">Fee: @a.Fee$</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-12 text-center mt-5">
                <a asp-action="Course" asp-controller="Home" class="btn btn-secondary">See All Courses</a>
            </div>
        </div>
    </div>
</section>